* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 0, 0, .1);
    color: rgb(255, 0, 0);
    font-weight: bold;
    width: 780px;
    height: 75px;
    border-radius: 10px;
}

.info > p {
    padding: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.outer-device {
    height: 600px;
    width: 800px;
    background-color: rgb(177, 9, 9);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px;
}

.inner-device {
    height: 570px;
    width: 770px;
    background-color: rgb(194, 10, 10);
    border-left: 2px solid rgb(204, 11, 11);
    border-right: 3px solid rgb(204, 11, 11);
    display: flex;
    flex-direction: column;
}

.title {
    color: gold;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -12px;
    
}

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#left, #right {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 1px 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    height: 480px;
    width: 720px;
    box-shadow: inset 2px 1px 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: gainsboro;
}

